#pcontainer
{
    background: #fff;
}
.picnavpnl
{
    margin: 0 auto;
    height: 140px;
    width:840px;
}
.picnavpnl li{
    float: left;
    width:120px;
    height: 120px;
    padding: 10px;
}
.picnavpnl li a.active{
    background: lightblue;
}
.picnav table{
    width:120px;
    height: 120px;
}
.picnav table td{
    text-align: center;
}
#mainpnl
{
    width: 100%;
}
#mainpnl .banner
{
    display: none;
}
#mainpnl .active
{
    display: block;
}
.hrcc
{
    width:980px;
    color:#fff;
    background:#ccc;
    height:1px;
    margin-top:10px;
}
#banner4
{
    margin: 0 auto;
    width:960px;
}
#banner4 ul
{
    width:100%; overflow:hidden;
}
#banner4 li{
    float: left;
    width:190px;
    height: 160px;
    padding: 10px;
    margin: 15px;
}
#banner4 li a.active{
    background: lightblue;
}


.funnav table th{
    text-align: center;
    color: #0093d3;
    font-size: 14px;
    font-weight: 300;
}
.funnav table td{
    text-align: center;
    font-size: 12px;
    font-weight: 300;
}
.funmore
{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
#contact td
{
    color: #aaa;
    font-size: 16px;
    padding: 10px;
}
#contact td td
{
    font-size: 14px;
    padding: 2px;
}
#banner0
{
    background:url('pimg/banner-0.jpg') top center no-repeat;
    height:680px;
}
#banner1
{
    margin: 0 auto;
    width:980px;
}
#banner1 li{
    float: left;
    width:300px;
    height: 250px;
    margin: 10px 12px;
}
#banner1 li a.active{
    background: lightblue;
}
#banner2
{
    background:url('pimg/banner-2.png') top center no-repeat;
    height:598px;
}
#banner3
{
    background:url('pimg/banner-3.png') top center no-repeat;
    height:598px;
}
#banner5
{
    background:url('pimg/banner-5.png') top center no-repeat;
    height:558px;
}
#banner6
{
    background:url('pimg/banner-6.png') top center no-repeat;
    height:558px;
}
.industrynav table{
    width:120px;
    height: 100px;
}
.industrynav table th{
    text-align: center;
    color: #0093d3;
    font-size: 18px;
    font-weight: 300;
}
.industrynav table td{
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}
.industrymore
{
    font-size: 16px;
    text-align: center;
    padding: 20px;
    color: #0093d3;
}
.industryhead
{
    width:235px;
    height: 214px;
    background: url("pimg/industry.png") top center no-repeat;
    margin: auto;
}